<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta cherset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConcefSA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' ) }}"> <!--Link para o arquivo css-->
</head>
<body>
    <header>
    <h1>Saldo</h1>
    </header>
        <div>
            <section id="saldo">
                <h2>Saldo</h2>
                <p>Saldo atual: R$ 0,00</p>
            </section>
        </div>
</body>