<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" contnet="width=device-width", initial-scale=1.0>
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('Static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>ConcefSA</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('payment.saldo') }}">Saldo</a></li>
                <li><a href="{{ url_for('payment.recarga') }}">Regarga</a></li>
                <li><a href="{{ url_for('passge.historico') }}">Histórico</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Sair<a/></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Recarga de Saldo</h2>
        <form method="POST" action="{{ url_for('payment.recarga') }}">
            <label for="valor_recarga">Valor da Recarga:</label>
            <input type="number" id="valor_recarga" name="valor_recarga" required>

            <button type="submit">Recarregar</button>
        </from>
    </main>

    <footer>
        <p>&copy; 2024 ConcefSA</p>
    </footer>

</body>
</html>