<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=0.1">
    <title>Pagamento</title>
    <link rel="stylesheet" href="estilo.css"> 
</head>
<body>
    <hader>
        <h1>Transferência Bancária</h1>
    </header>
    <main>
        <section id="transferencia">
            <h2>Transferência Bancária</h2>
            <form>
                <label>Número da Conta:</label>
                <input type="text" name="numero-conta">
                <label>Agência:</label>
                <input type="text" name="agencia">
                <button type="submit">Pagar</button>
            </form>
        </section>   
    </main>
</body>